/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

* {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 10pt 0 10pt 0;
}

nav {
  margin: 10pt 0 10pt 0;
  position: relative;
  float: right;
  text-align: left;
  left: -50%;
}

footer {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 20pt;
}

table {
  margin: 10pt auto 10pt auto;
  text-align: center;
}

body > header {
  width: 100%;
  text-align: center;
}

body > section {
  text-align: center;
  clear: both;
  width: 100%;
}

nav ul {
  list-style: none;
  position: relative;
  left: 50%;
}

nav ul li {
  float: left;
  position: relative;
}

nav ul li a {
  text-decoration: none;
  margin: 10px;
}

.notice {
  color: green;
}

.alert,
#error_explanation {
  color: red;
}

#content {
  position: relative;
  text-align: center;
}
